<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>A pulzus és az edzésadatok megjelenítéséhez olvassuk az egészségügyi adatokat.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>A meccset labdarúgás edzésként mentjük az Egészség appba.</string>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
